.row {
    
}
.column {
    width: 80px;
    height: 80px;
    display: inline-block;
    
}
.a {
    background-color: #f0d9b5;
    
}
.b {
    background-color: #b58863;
}
.piece {
    /*#2d2b29;*/
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
    height: 54px;
    width: 54px;
}
.light-piece {
    background-color: #f8f8f8;

}
.dark-piece {
    background-color: #565352;
}
.test {
    display: inline-block;
}