body {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.row {
    margin-top: -4px;
}

.column {
    width: 80px;
    height: 80px;
    display: inline-block;
}
.a {
    background-color: #f0d9b5;
    
}
.b {
    background-color: #b58863;
}
.piece {
    border: 2px solid #2d2b29;
    margin: 10px;
    border-radius: 50%;
    height: 54px;
    width: 54px;
}
.light-piece {
    background-color: #f8f8f8;

}
.dark-piece {
    background-color: #565352;
}
.test {
    display: inline-block;
}